body {
    overflow-x: hidden;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
     outline: 0;
    color: #FFA500;
}

.navbar-default {
	background-color: #2c3e50;
	border-color: #2c3e50;
}

.navbar{
	text-transform: uppercase;
}
.navbar-default 
.navbar-nav li a {
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 20px;
	font
}

.navbar-default .navbar-nav>.open>a {
    background-color: #2c3e50;
}

.navbar-default 
.navbar-nav li a:hover {
	color: #FFA500;
	
}


.navbar-default .navbar-brand{
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 30px;
	font-weight: 2px;
}

.navbar-fixed-top{
	padding:25px;
}

.myDropdown {
    min-width: 260px;
    background-color: #2c3e50;
    opacity: 0.9;
    border-radius: 10px;
}

.form-group label {
    color:#ffffff;
}

header {
	text-align: center;
	background: url(http://i.imgur.com/i6SnHRH.jpg?1)  no-repeat center scroll;
	position: relative;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .container {
    padding-top: 200px;
    padding-bottom: 450px;
}

header h1 {
	color: #FFA500;
	display: block;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 13px;
}

header h3{
	color: white;
	display: block;
    font-family: "Century Gothic";
    font-size: 30px;
}

.track {
	background-color:#2c3e50;
	color:#ffffff;
	font-family: "Century Gothic"

}

.track:hover {
	background-color: #FFA500;
    color:#ffffff; 
}

button .track:active{
    background-color: #2c3e50; 
    color:#ffffff;
}

@media screen and (max-device-width: 480px) {
	 header .container {
        padding-top: 200px;
        padding-bottom: 100%;
    }	
     header h1 {
        color: #FFA500;
        display: block;
        text-transform: uppercase;
        font-family: "Century Gothic";
        font-size: 4em;
        font-weight: 600;
        letter-spacing: 3px;
    }

    header h3{
    color: white;
    display: block;
    font-family: "Century Gothic";
    font-size: 25px;
    }
}

@media (max-device-height: 800px){
    header.container {
        padding-top: 200px;
        padding-bottom: 100%;
    }
}


@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 300px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}


@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.angular-google-map-container { height: 400px; }

#map-canvas {
   height: 400px; 
   width: 100%;
}

@media(max-device-width: 480px) {
    .angular-google-map-container { height: 600px; }

}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
}
.input-field {
  position: relative;
  min-width: 300px;
    overflow: hidden;
  margin-top: 1rem;
}
.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}